<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags -->
	<title>Appoint My Doctor Form a Simple Appointment form Responsive Widget :: w3layouts</title>
	<meta name="keywords" content="Appoint My Doctor Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- stylesheets -->
	<link rel="stylesheet" href="../static/css/font-awesome.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- google fonts  -->
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>




</head>
<body>
<div>


	<div class="w3ls-banner">
	<div class="heading">
		<h1>Appoint My Doctor</h1>
	</div>
		<div class="container">
            <!--tag bar-->
            <div class="col-md-4 agile1">
				<nav>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div>
						<nav>
							<ul>
								<li class="active"><a href="#">Home</a></li>
								<li><a href="/showAddPatient">Register Patient</a></li>
								<li class="dropdown menu__item menu__item--current">
									<a href="#" class="dropdown-toggle menu__link"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Patient<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/showViewHome">Using Enter NIC number</a></li>
										<li><a href="#">Using Face identification</a></li>
									</ul>
								</li>
								<li><a href="/showAddDrug">Add Drug</a></li>
								<li><a href="#">Mail Us</a></li>
							</ul>
						</nav>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>

            <!-- tag bar-->
			<div class="heading">
				<h2>Please Enter Patients Details</h2>
				<p>Fill the form below and submit your query we will contact you as soon as possible.</p>
			</div>

			<div class="agile-form">
				<form action="/" method="post">
					<ul class="field-list">
						<li>
							<label class="form-label">
								Full Name
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="text" name="inputName" placeholder="Enter Patients Name" required >
							</div>
						</li>
						<li>
							<label class="form-label">
							   Gender
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="gender" required>
									<option value="">&nbsp;</option>
									<option value="Male"> Male </option>
									<option value="Female"> Female </option>
									<option value="Transgender"> Transgender </option>
								</select>
							</div>
						<li>
                        <li>
							<label class="form-label">
							   Blood Group
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="bloodgroup" required>
									<option value="">&nbsp;</option>
                                    <option value="O"> O </option>
                                    <option value="AB+"> AB+ </option>
                                    <option value="B-"> B- </option>
                                    <option value="B+"> B+ </option>
								</select>
							</div>
						<li>

							<label class="form-label">
							   Date of Birth
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input dob">
								<span class="form-sub-label">
									<select name="day" class="day">
										<option>&nbsp;</option>
										<option value="1"> 1 </option>
										<option value="2"> 2 </option>
										<option value="3"> 3 </option>
										<option value="4"> 4 </option>
										<option value="5"> 5 </option>
										<option value="6"> 6 </option>
										<option value="7"> 7 </option>
										<option value="8"> 8 </option>
										<option value="9"> 9 </option>
										<option value="10"> 10 </option>
										<option value="11"> 11 </option>
										<option value="12"> 12 </option>
										<option value="13"> 13 </option>
										<option value="14"> 14 </option>
										<option value="15"> 15 </option>
										<option value="16"> 16 </option>
										<option value="17"> 17 </option>
										<option value="18"> 18 </option>
										<option value="19"> 19 </option>
										<option value="20"> 20 </option>
										<option value="21"> 21 </option>
										<option value="22"> 22 </option>
										<option value="23"> 23 </option>
										<option value="24"> 24 </option>
										<option value="25"> 25 </option>
										<option value="26"> 26 </option>
										<option value="27"> 27 </option>
										<option value="28"> 28 </option>
										<option value="29"> 29 </option>
										<option value="30"> 30 </option>
										<option value="31"> 31 </option>
									</select>
									<label class="form-sub-label1"> Day </label>
								</span>
								<span class="form-sub-label">
									<select name="month">
										<option>&nbsp;</option>
										<option value="1"> January </option>
										<option value="2"> February </option>
										<option value="3"> March </option>
										<option value="4"> April </option>
										<option value="5"> May </option>
										<option value="6"> June </option>
										<option value="7"> July </option>
										<option value="8"> August </option>
										<option value="9"> September </option>
										<option value="10"> October </option>
										<option value="11"> November </option>
										<option value="12"> December </option>
									 </select>
									<label class="form-sub-label1"> Month </label>
								</span>
								<span class="form-sub-label">
									<input type="text" class="year" name="year" placeholder=" Enter Year" required>
									<label class="form-sub-label1"> Year </label>
								</span>
							</div>
						</li>

                        <li>
							<label class="form-label">
							   NIC Number
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="text" name="inputNIC" placeholder="Mobile Number" required >
							</div>
						</li>
						<li>
                            <label class="form-label">
                            Address
                            <span class="form-required"> * </span>
                            </label>
                            <div class="form-input add">
                                <textarea rows="3" cols="10" name="address"></textarea>
                            </div>
                        </li>

                        <li>
                            <label class="form-label">
                                Mobile Number
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input">
                                <input type="text" name="mobile_number" placeholder="Mobile Number" required >
                            </div>
                        </li>
						<li>
							<label class="form-label">
							   E-Mail Address
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="email" name="email" placeholder="myname@example.com" required>

							</div>
						</li>

                        <li>
                            <label class="form-label1">
                                Other Required Information
                            </label>
                            <div class="form-input2">
                                <textarea rows="5" cols="20" name="textarea"></textarea>

                            </div>
                        </li>



{#                        <input id="collectImage"  value="Collect Patient Image" type="submit">#}

					</ul>

					<input id="addPatient" herf="#" type="submit" value="Book Appointment">
{#                <button id="addPatient" class="btn btn-lg btn-primary btn-block" type="button">add Patient</button>#}
				</form>
			</div>
		</div>
		<div class="copyright">
			<p>© 2017 Appoint My Doctor Form. All rights reserved | Design by <a href="www.w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</div>
</body>

<script>
          $(function(){
	$('#addPatient').click(function(){
        {#alert("confirm to add detail");#}
		$.ajax({
			url: '/addPatient',
			data: $('form').serialize(),
			type: 'POST',
			success: function(response){
				console.log(response);
				alert(response);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
});

      </script>
</html>