<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Therapeutic a Medical Category Flat Bootstrap Responsive website Template | Home :: w3layouts</title>

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Therapeutic web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" href="../static/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="../static/css/stylenew.css" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="../static/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="../static/css/jquery-ui.css" /> <!-- Date-script-CSS -->
<link href=".../static/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" /> <!-- Time-script-CSS -->
<!-- //css files -->

<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Convergence" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=ABeeZee:400,400i" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<div class="Main-agile">
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="col-md-4 agile1">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav class="stroke">
							<ul class="nav navbar-nav">
                                <li id="home"><a href="/show">Home</a></li>
								<li id="reporthome" class="active"><a href="/showPatientReport">Medical Report</a></li>
								<li id="createRep"><a href="/showCreateMedReport">Create Medical Report</a></li>
								<li><a id="viewReport" href="/showViewMedReport">View Patient Report</a></li>
{#								<li><a href="#">Mail Us</a></li>#}
							</ul>
						</nav>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
			<div class="col-md-4 logo">
				<div class="logo-w3l">
					<i class="fa fa-stethoscope" aria-hidden="true"></i>
				</div>
				<h1><a href="index.html">Medical Report<span>SmartMedi</span></a></h1>
			</div>
{#			<div class="col-md-4 ph-agile">#}
{#				<p><i class="fa fa-phone" aria-hidden="true"></i><span>+94 76 54 65 073</span></p>#}
{#			</div>#}
			<div class="clearfix"> </div>
			<!-- banner-text -->
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">
						<li>
							<div class="w3layouts-banner-top">
								<div class="container">
									<div class="agileits-banner-info">
										<h3>Best Treatments</h3>
										<p>We Provide the Best Medical Services.</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="w3layouts-banner-top">
								<div class="container">
									<div class="agileits-banner-info">
										<h3>We Provide</h3>
										<p>Medical Services that you can Trust.</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="w3layouts-banner-top">
								<div class="container">
									<div class="agileits-banner-info">
										<h3>Better Technology</h3>
										<p>We Care About Your Health.</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>

				<!-- //banner-text -->
			</div>
		</div>
			<div class="app-w3">
				<h4>You are the Responsible</h4>

			</div>
	</div>
</div>
<!-- //banner -->

<!-- js-scripts -->

		<!-- js -->
			<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
			<script type="text/javascript" src="../static/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
		<!-- //js -->

		<!-- Baneer-js -->

			<script src="../static/js/responsiveslides.min.js"></script>
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
			</script>
			<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
							 </script>


		<!-- //Baneer-js -->

			<!-- Calendar -->
				<script src="../static/js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->

		<!-- Time -->
		<script type="text/javascript" src="../static/js/wickedpicker.js"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>
		<!-- //Time -->

		<!-- jarallax-js -->
			<script src="../static/js/jarallax.js"></script>
			<script src="../static/js/SmoothScroll.min.js"></script>
			<script type="text/javascript">
				/* init Jarallax */
				$('.jarallax').jarallax({
					speed: 0.5,
					imgWidth: 1366,
					imgHeight: 768
				})
			</script>
		<!-- //jarallax-js -->

		<!-- for-Testimonials -->
			<!-- required-js-files-->
							<link href="../static/css/owl.carousel.css" rel="stylesheet">
							    <script src="../static/js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
			<!--//required-js-files-->
		<!-- //for-Testimonials -->

<!-- //js-scripts -->
</body>
</html>